<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 상세보기</title>
</head>
<body>
    <!-- 상속을 안 쓰는 게 더 효율적인 것 같은데.. -->
    <div th:if="${upper != null}">
        <table border="1">
            <tr>
                <td th:text="#{label.item.name}">NAME</td>
                <td th:text="${upper.name}"></td>
            </tr>
            <tr>
                <td th:text="#{label.item.price}">PRICE</td>
                <td th:text="${{upper.price}} + 원"></td>
            </tr>
            <tr>
                <td th:text="#{label.item.stockQuantity}">Quantity</td>
                <td th:text="${{upper.stockQuantity}} + 벌"></td>
            </tr>
            <tr>
                <td th:text="총장"></td>
                <td th:text="${upper.totalLength} + cm"></td>
            </tr>
            <tr>
                <td th:text="팔길이"></td>
                <td th:text="${upper.armLength} + cm"></td>
            </tr>
            <tr>
                <td th:text="어깨너비"></td>
                <td th:text="${upper.shoulderWidth} + cm"></td>
            </tr>
        </table>
        <br>
        <form method="post" th:action="@{/orders/basket/{itemId}(itemId=${upper.id})}">
            <table border="1">
                <tr>
                    <td>개수</td>
                    <td><input name="qty" type="number"></td>
                </tr>
            </table>
            <button type="submit">장바구니</button>
        </form>
    </div>
    <div th:if="${outer != null}">
        <table border="1">
            <tr>
                <td th:text="#{label.item.name}">NAME</td>
                <td th:text="${outer.name}"></td>
            </tr>
            <tr>
                <td th:text="#{label.item.price}">PRICE</td>
                <td th:text="${{outer.price}} + 원"></td>
            </tr>
            <tr>
                <td th:text="#{label.item.stockQuantity}">Quantity</td>
                <td th:text="${{outer.stockQuantity}} + 벌"></td>
            </tr>
            <tr>
                <td th:text="총장"></td>
                <td th:text="${outer.totalLength} + cm"></td>
            </tr>
            <tr>
                <td th:text="무게"></td>
                <td th:text="${outer.weight} + cm"></td>
            </tr>
            <tr>
                <td th:text="팔길이"></td>
                <td th:text="${outer.armLength} + cm"></td>
            </tr>
        </table>
        <form method="post" th:action="@{/orders/basket/{itemId}(itemId=${outer.id})}">
            <table border="1">
                <tr>
                    <td>개수</td>
                    <td><input name="qty" type="number"></td>
                </tr>
            </table>
            <button type="submit">장바구니</button>
        </form>
    </div>
    <div th:if="${pants != null}">
        <table border="1">
            <tr>
                <td th:text="#{label.item.name}">NAME</td>
                <td th:text="${pants.name}"></td>
            </tr>
            <tr>
                <td th:text="#{label.item.price}">PRICE</td>
                <td th:text="${{pants.price}} + 원"></td>
            </tr>
            <tr>
                <td th:text="#{label.item.stockQuantity}">Quantity</td>
                <td th:text="${{pants.stockQuantity}} + 벌"></td>
            </tr>
            <tr>
                <td th:text="총장"></td>
                <td th:text="${pants.totalLength} + cm"></td>
            </tr>
            <tr>
                <td th:text="허리"></td>
                <td th:text="${pants.waist} + inch"></td>
            </tr>
            <tr>
                <td th:text="허벅지"></td>
                <td th:text="${pants.thighWidth} + cm"></td>
            </tr>
        </table>
        <form method="post" th:action="@{/orders/basket/{itemId}(itemId=${pants.id})}">
            <table border="1">
                <tr>
                    <td>개수</td>
                    <td><input name="qty" type="number"></td>
                </tr>
            </table>
            <button type="submit">장바구니</button>
        </form>
    </div>
    <div>
        <img th:each="imageFile : ${imageFiles}" th:src="|/items/images/${imageFile.getStoreFileName()}|" width="300" height="300" />
    </div>
</body>
</html>